In [5]:
import pandas as pd
df = pd.read_csv('data/reviews_preprocessed.csv')
print('Shape:', df.shape)
print('Info: ', df.info())
df.isnull().sum()
print('Duplicates:', df.duplicated().sum())
df.describe()
# df.drop_duplicates(inplace=True)
# df.reset_index(drop=True, inplace=True)
# df['label'].value_counts()
# df['review_length'] = df['review'].apply(len)
# df[['review', 'review_length']].head()
# df['review_length'].describe()

Shape: (50000, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   review_id   50000 non-null  object
 1   stars       50000 non-null  float64
 2   text        50000 non-null  object
 3   text_clean  50000 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.5+ MB
Info:  None
Duplicates: 0

              stars
count  50000.000000
mean       3.848000
std        1.350308
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000